<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hexy :: Logged Out</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗻</text></svg>" />
  <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.css" />
  <script src="https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.js"></script>
  <script src="https://unpkg.com/h3-js"></script>
  <link href="/static/style.css" rel="stylesheet"/>
</head>
<body>
  <a href="/">Click here to log back in</a>
</body>
</html>
