<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hexy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <link href="/static/style.css" rel="stylesheet"/>
</head>
<body>

<div id="info" class="fixed inset-0 flex bg-black/20 justify-center items-center z-50">
  <div id="info-inner" class="w-4/5 md:w-[50ch] bg-white/90 p-8 rounded-lg shadow-lg overflow-y-scroll h-4/5">
    <div class="flex flex-col items-center mb-4">
      <div class="flex items-center">
        <img src="static/logo256.png" class="h-12 mr-4" alt="Hexy Logo">
        <h2 class="text-2xl font-bold">Privacy Policy</h2>
      </div>
    </div>

    <h2 class="text-lg font-bold mt-4">Who we are</h2>
    <p>RDRN LTD, trading as Hexy. Led by Chris Arderne, a developer living in the UK.</p>

    <h2 class="text-lg font-bold mt-4">Cookies</h2>
    <p>When you log in, an encrypted cookie is stored in your browser so the website can remember who you are so we can automatically log you in. This is not used to track you or do anything else.</p>
    <p>There is no tracking or analytics or anything like that, I will never know that you even used the website.</p>

    <h2 class="text-lg font-bold mt-4">Who we share your data with</h2>
    <p>No one.</p>

    <h2 class="text-lg font-bold mt-4">How long we retain your data</h2>
    <p>We will store your refresh tokens in a secure database, normally only for about 15 minutes.</p>

    <h2 class="text-lg font-bold mt-4">What rights you have over your data</h2>
    <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>

    <h2 class="text-lg font-bold mt-4">Where we send your data</h2>
    <p>Nowhere.</p>

  </div>
</div>

</body>
</html>
